*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   /* background: rgb(192, 198, 204); */
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px 0 8px 16px;
}
li a:hover{
    color: rgb(169, 196, 214);
    text-decoration: none;
}


input{
    width: 250px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

button{
    width: 100px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
}
button:hover, input:hover{
    color: black;
    background: rgb(89, 100, 121);
    opacity: 20px;
    transition-duration: 1s;
}

input:hover{
    border: 1px solid rgb(103, 103, 233);
    background: rgb(205, 216, 224);
    color: black;
    outline: none;
}


img{
    width: 400px;
    border-radius: 5px;
    /* padding: 0 0 0 50px; */
}
.form{
    display: inline-block;
    max-width: 300px;
    align-items: center;
    line-height: 35px;
}

#icon{
    float: left;
}
.btn{
    width: 150px;
    height: 50px;
    border-radius: 7px;
}


/* Footer section */
.about{
    text-align: center;
    font-size: 13px;
    padding: 50px 0 50px 0;
    color: rgb(201, 200, 200);
}
.end{
    display: grid;
    grid-template-columns: auto auto auto;
}

#footer{
    background: #337ab7;
    margin-top: 100px;
    padding: 0 0 50px 0;

}

div p {
    max-width: 200px;
    margin: auto;
    font-size: 12px;
    color: rgb(201, 200, 200);

}
#details{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 40px 0 0 0;
    padding: 0 0 50px 0;
}

span p{
    max-width: 450px;
    text-align: center;
}

#links{
    text-align: center;
    padding: 80px 0 90px 0;
    font-size: 12px;
}

.site{
    text-decoration: none;
    color: rgb(201, 200, 200);
    /* color: rgb(226, 185, 2); */
    padding: 10px;
}
.site:hover{
    color: rgb(130, 173, 201);
    text-decoration: none;
}
.bi-facebook{
    color: blue;
}
.bi-whatsapp{
    color: rgb(2, 82, 2);
}
.bi-youtube{
    color: red;
}
.bi-instagram{
    color: rgb(136, 114, 114);
}



@media only screen and (max-width: 750px) {
    #demo{
        display: inline-block;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 50px 0 0 0;
        overflow-x: hidden;
    }
    img{
        text-align: center;
        width: 100%;
        height: auto;
        margin: 0;
    }
    input, button{
        margin: 0 0 0 35px;
    }
    div p {
        max-width: 200px;
        margin: 0;
        font-size: 11px;
        padding: 0 10px 0 15px;
    }
    span p{
        padding: 0 20px 0 20px;
        max-width: 400px;
        margin: 0;
    }
}